@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Moviepractice" asp-action="Index">Register Movie</a>
<div class="text-center">
    <h2 class="display-4">Welcome </h2>
    <h3>The Movie Registration App.</h3>
</div>
